doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link
    script(type="text/javascript", src='http://code.jquery.com/jquery.js')
    script(type="text/javascript", src='/javascripts/javascripts.js')
  block content