extends layout

block content
  body
    div#userdiv(style="background-color: "+ prof_color)
      p Background color?
       input(type='text') Enter a valid button
       button(type='submit', id='backcolor') Submit Color

      p#logout
        form(action='/logout', method='get', id='logout')
          button(type='submit) Log Out

      div#prof_pic
        p Here's yo pic yo
        img(src=picture)
