extends layout

block content
  body
    div#userdiv
      p Background color?
        input(type='text') Enter a valid Color
        button(type='submit', id='backcolor') Submit Color

      p#logout
        button(type='submit, id='logout') Log Out

      div#prof_pic(style="background-color: "+ prof_color)
        p Here's yo pic yo
        img(src=picture)
